.sites-search {
	padding: 12px;
	border-bottom: 1px solid #e7e7e7;
}

.sites-search input {
	cursor: text;
	width: 100%;
	padding: 10px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}

.Theme__Dark .sites-search {
	border-color: #434344;
}

.Theme__Dark .sites-search input {
    background-color: #262727;
    border-color: #434344;
}